* text=auto !eol
/AUTHORS -text
/CoinMP.zip -text
/LICENSE -text
MSVisualStudio/v8/CoinMP.sln -text
MSVisualStudio/v8/CoinMP/CoinMP.rc -text
MSVisualStudio/v8/CoinMP/CoinMP.vcproj -text
MSVisualStudio/v8/CoinMP/resource.h -text
MSVisualStudio/v8/release/CoinMP.dll -text
MSVisualStudio/v8/release/CoinMP.exp -text
MSVisualStudio/v8/release/CoinMP.lib -text
MSVisualStudio/v8/release/unitTest.exe -text
MSVisualStudio/v8/unitTest/unitTest.vcproj -text
MSVisualStudio/v9/CoinMP.sln -text
MSVisualStudio/v9/CoinMP/CoinMP.rc -text
MSVisualStudio/v9/CoinMP/CoinMP.vcproj -text
MSVisualStudio/v9/CoinMP/resource.h -text
MSVisualStudio/v9/release/CoinMP.dll -text
MSVisualStudio/v9/release/CoinMP.exp -text
MSVisualStudio/v9/release/CoinMP.lib -text
MSVisualStudio/v9/release/unitTest.exe -text
MSVisualStudio/v9/unitTest/unitTest.vcproj -text
/Makefile.in -text
/README -text
/coinmp_addlibs.txt.in -text
/configure -text
examples/Makefile -text
examples/csharp/CoinMPTestCS8.csproj -text
examples/csharp/CoinMPTestCS8.sln -text
examples/csharp/CoinMPTestCS9.csproj -text
examples/csharp/CoinMPTestCS9.sln -text
examples/csharp/Coinmp.cs -text
examples/csharp/Form1.Designer.cs -text
examples/csharp/Form1.cs -text
examples/csharp/Form1.resx -text
examples/csharp/LogHandler.cs -text
examples/csharp/ProblemAfiro.cs -text
examples/csharp/ProblemBakery.cs -text
examples/csharp/ProblemCoinTest.cs -text
examples/csharp/ProblemExMip1.cs -text
examples/csharp/ProblemP0033.cs -text
examples/csharp/Program.cs -text
examples/csharp/Properties/AssemblyInfo.cs -text
examples/csharp/Properties/Resources.Designer.cs -text
examples/csharp/Properties/Resources.resx -text
examples/csharp/Properties/Settings.Designer.cs -text
examples/csharp/Properties/Settings.settings -text
examples/csharp/SolveProblem.cs -text
examples/example.c -text
examples/vb6/CoinMPTestVB6.exe -text
examples/vb6/CoinMPTestVB6.vbp -text
examples/vb6/FrmCoinMP.frm -text
examples/vb6/LibCoinMP.bas -text
examples/vb6/LogWrite.bas -text
examples/vb6/RunProblem.bas -text
examples/vb6/SolveAfiro.bas -text
examples/vb6/SolveBakery.bas -text
examples/vb6/SolveCoinTest.bas -text
examples/vb6/SolveExMip1.bas -text
examples/vb6/SolveP0033.bas -text
inc/config_coinmp.h.in -text
src/CoinMP.def -text
src/Makefile.in -text
test/Makefile.in -text
