CoinSMI/CoinMP/MSVisualStudio/v8/CoinMP.ncb
CoinSMI/CoinMP/MSVisualStudio/v8/CoinMP.suo
CoinSMI/CoinMP/MSVisualStudio/v8/debug
CoinSMI/CoinMP/MSVisualStudio/v8/release/CoinMP.pdb
CoinSMI/CoinMP/MSVisualStudio/v8/release/CoinSMI.dll
CoinSMI/CoinMP/MSVisualStudio/v8/release/CoinSMI.exp
CoinSMI/CoinMP/MSVisualStudio/v8/release/CoinSMI.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/CoinSMI.pdb
CoinSMI/CoinMP/MSVisualStudio/v8/release/libCbc.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/libCgl.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/libClp.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/libCoinUtils.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/libOsi.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/libOsiClp.lib
CoinSMI/CoinMP/MSVisualStudio/v8/release/unitTest.pdb
CoinSMI/CoinMP/MSVisualStudio/v9/CoinMP.ncb
CoinSMI/CoinMP/MSVisualStudio/v9/CoinMP.suo
CoinSMI/CoinMP/MSVisualStudio/v9/debug
CoinSMI/CoinMP/MSVisualStudio/v9/release/CoinMP.pdb
CoinSMI/CoinMP/MSVisualStudio/v9/release/CoinSMI.dll
CoinSMI/CoinMP/MSVisualStudio/v9/release/CoinSMI.exp
CoinSMI/CoinMP/MSVisualStudio/v9/release/CoinSMI.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/CoinSMI.pdb
CoinSMI/CoinMP/MSVisualStudio/v9/release/libCbc.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/libCgl.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/libClp.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/libCoinUtils.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/libOsi.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/libOsiClp.lib
CoinSMI/CoinMP/MSVisualStudio/v9/release/unitTest.pdb
