CoinMP/MSVisualStudio/v8/CoinMP.ncb
CoinMP/MSVisualStudio/v8/CoinMP.suo
CoinMP/MSVisualStudio/v8/debug
CoinMP/MSVisualStudio/v8/release/CoinMP.pdb
CoinMP/MSVisualStudio/v8/release/CoinSMI.dll
CoinMP/MSVisualStudio/v8/release/CoinSMI.exp
CoinMP/MSVisualStudio/v8/release/CoinSMI.lib
CoinMP/MSVisualStudio/v8/release/CoinSMI.pdb
CoinMP/MSVisualStudio/v8/release/libCbc.lib
CoinMP/MSVisualStudio/v8/release/libCgl.lib
CoinMP/MSVisualStudio/v8/release/libClp.lib
CoinMP/MSVisualStudio/v8/release/libCoinUtils.lib
CoinMP/MSVisualStudio/v8/release/libOsi.lib
CoinMP/MSVisualStudio/v8/release/libOsiClp.lib
CoinMP/MSVisualStudio/v8/release/unitTest.pdb
