CoinMP/MSVisualStudio/v9/CoinMP.ncb
CoinMP/MSVisualStudio/v9/CoinMP.suo
CoinMP/MSVisualStudio/v9/debug
CoinMP/MSVisualStudio/v9/release/CoinMP.pdb
CoinMP/MSVisualStudio/v9/release/CoinSMI.dll
CoinMP/MSVisualStudio/v9/release/CoinSMI.exp
CoinMP/MSVisualStudio/v9/release/CoinSMI.lib
CoinMP/MSVisualStudio/v9/release/CoinSMI.pdb
CoinMP/MSVisualStudio/v9/release/libCbc.lib
CoinMP/MSVisualStudio/v9/release/libCgl.lib
CoinMP/MSVisualStudio/v9/release/libClp.lib
CoinMP/MSVisualStudio/v9/release/libCoinUtils.lib
CoinMP/MSVisualStudio/v9/release/libOsi.lib
CoinMP/MSVisualStudio/v9/release/libOsiClp.lib
CoinMP/MSVisualStudio/v9/release/unitTest.pdb
