* text=auto !eol
/AUTHORS.txt -text
/CoinMP.cpp -text
/CoinMP.dll -text
/CoinMP.h -text
/CoinMP.lib -text
/Externals -text
/INSTALL.txt -text
/LICENSE.txt -text
/README.txt -text
test/unitTest.c -text
