* text=auto !eol
/AUTHORS -text
CoinMP/AUTHORS -text
CoinMP/CoinMP.zip -text
CoinMP/LICENSE -text
CoinMP/MSVisualStudio/v8/CoinMP.sln -text
CoinMP/MSVisualStudio/v8/CoinMP/CoinMP.rc -text
CoinMP/MSVisualStudio/v8/CoinMP/CoinMP.vcproj -text
CoinMP/MSVisualStudio/v8/CoinMP/resource.h -text
CoinMP/MSVisualStudio/v8/release/CoinMP.dll -text
CoinMP/MSVisualStudio/v8/release/CoinMP.exp -text
CoinMP/MSVisualStudio/v8/release/CoinMP.lib -text
CoinMP/MSVisualStudio/v8/release/unitTest.exe -text
CoinMP/MSVisualStudio/v8/unitTest/unitTest.vcproj -text
CoinMP/MSVisualStudio/v9/CoinMP.sln -text
CoinMP/MSVisualStudio/v9/CoinMP/CoinMP.rc -text
CoinMP/MSVisualStudio/v9/CoinMP/CoinMP.vcproj -text
CoinMP/MSVisualStudio/v9/CoinMP/resource.h -text
CoinMP/MSVisualStudio/v9/release/CoinMP.dll -text
CoinMP/MSVisualStudio/v9/release/CoinMP.exp -text
CoinMP/MSVisualStudio/v9/release/CoinMP.lib -text
CoinMP/MSVisualStudio/v9/release/unitTest.exe -text
CoinMP/MSVisualStudio/v9/unitTest/unitTest.vcproj -text
CoinMP/Makefile.in -text
CoinMP/README -text
CoinMP/coinmp_addlibs.txt.in -text
CoinMP/configure -text
CoinMP/examples/Makefile -text
CoinMP/examples/csharp/CoinMPTestCS8.csproj -text
CoinMP/examples/csharp/CoinMPTestCS8.sln -text
CoinMP/examples/csharp/CoinMPTestCS9.csproj -text
CoinMP/examples/csharp/CoinMPTestCS9.sln -text
CoinMP/examples/csharp/Coinmp.cs -text
CoinMP/examples/csharp/Form1.Designer.cs -text
CoinMP/examples/csharp/Form1.cs -text
CoinMP/examples/csharp/Form1.resx -text
CoinMP/examples/csharp/LogHandler.cs -text
CoinMP/examples/csharp/ProblemAfiro.cs -text
CoinMP/examples/csharp/ProblemBakery.cs -text
CoinMP/examples/csharp/ProblemCoinTest.cs -text
CoinMP/examples/csharp/ProblemExMip1.cs -text
CoinMP/examples/csharp/ProblemP0033.cs -text
CoinMP/examples/csharp/Program.cs -text
CoinMP/examples/csharp/Properties/AssemblyInfo.cs -text
CoinMP/examples/csharp/Properties/Resources.Designer.cs -text
CoinMP/examples/csharp/Properties/Resources.resx -text
CoinMP/examples/csharp/Properties/Settings.Designer.cs -text
CoinMP/examples/csharp/Properties/Settings.settings -text
CoinMP/examples/csharp/SolveProblem.cs -text
CoinMP/examples/csharp/bin/Release/CoinMPTestCS8.exe -text
CoinMP/examples/csharp/bin/Release/CoinMPTestCS9.exe -text
CoinMP/examples/example.c -text
CoinMP/examples/vb6/CoinMPTestVB6.exe -text
CoinMP/examples/vb6/CoinMPTestVB6.vbp -text
CoinMP/examples/vb6/FrmCoinMP.frm -text
CoinMP/examples/vb6/LibCoinMP.bas -text
CoinMP/examples/vb6/LogWrite.bas -text
CoinMP/examples/vb6/RunProblem.bas -text
CoinMP/examples/vb6/SolveAfiro.bas -text
CoinMP/examples/vb6/SolveBakery.bas -text
CoinMP/examples/vb6/SolveCoinTest.bas -text
CoinMP/examples/vb6/SolveExMip1.bas -text
CoinMP/examples/vb6/SolveP0033.bas -text
CoinMP/inc/config_coinmp.h.in -text
CoinMP/makezip.bat -text
CoinMP/src/CoinMP.def -text
CoinMP/src/CoinResult.c -text
CoinMP/src/CoinResult.h -text
CoinMP/src/Makefile.in -text
CoinMP/test/Makefile.in -text
/Externals -text
/Externals.new -text
/Externals.rel -text
/Externals.sta -text
/INSTALL -text
/LICENSE -text
/Makefile.in -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
/install-sh -text
/missing -text
